*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background: rgb(22, 163, 116);
    padding: 50px;
    text-align: center;
    color: #fff;
}
nav{
    display: flex;
    background: #000;
}
nav >a{
    color: #fff;
    padding: 20px 20px;
    text-decoration: none;
}
nav > a:hover{
    background: #ccc;
    color: #000000;
}
.container{
    display: flex;

}
aside{
flex: 30%;
background: #e4e1e1;
padding: 20px;
}
article{
    flex: 70%;
    padding: 20px;
    
}
.fakeimg{
    background: #888;
    padding: 20px;
}
footer{
    background-color: #dadada;
    text-align: center;
    padding: 20px;
    
}
@media(max-width:700px){
    nav, .container{
    flex-direction: column;

    }
}