*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  background-color: dodgerblue;
  padding: 10px;
}
.grid-container > div {
  background-color: #c5d9eb;
  color:#000;
  padding: 30px;
  font-size: 30px;
  text-align: center;
}
.Header {
  grid-column: 1/ span 3;
}
.Menu{
    grid-row: 2/ span 2;
}
.Main{
    grid-column: 2/3;
    grid-row: 2/3;
}
.Right{
    grid-column: 3/4;
    grid-row: 2/3;
}
.Footer{
    grid-column: 2/4;
    grid-row: 3/4;
} 

/* .Header{
    grid-column-start: 1;
    grid-column-end: 4;
} */

/* .Menu{
    grid-row-start: 2;
    grid-row-end: 4;
}

.Footer{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 4;
}
.Main{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;

}
.Right{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
} */