*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    gap: 5px;
    padding: 10px;
    min-height: 100vh;
    grid-template-columns: 5% 10% auto 10% 5%;
    grid-template-rows: 5% 25% 5% auto 5%
    
    
}
.container > div {
  background-color: #403b3b;
  color:#ffffff;
  padding: 10px;
  font-size: 20px;
  text-align: center;
}

.topmenu{
    grid-column: 1/ span 5;
    background-color: blue;
}
.slideshow{
    grid-column: 2/ span 3;
    background-color: brown;
}
.banner{
    grid-column: 2/ span 3;
    background-color: rgb(0, 135, 90);
}
.Left{
    grid-column: 2;
    background-color: rgb(110, 19, 115);
}
.Center{
    grid-column: 3;
    background-color: rgb(145, 170, 34);

}
.Right{
    grid-column: 4;
    background-color: rgb(19, 109, 115);
}
.footer{
    grid-column: 1 / span 5;
    background-color: rgb(208, 53, 22);
}

@media screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}